<ul>
  <li class="top-category"><p class="top-name">二手交易</p>
    <ul>
      <li><a href="">汽车及备件</a></li>
      <li><a href="">二手家具/家居百货</a></li>
      <li><a href="">休闲运动</a></li>
      <li><a href="">手机通讯</a></li>
      <li><a href="">服饰/箱包/鞋帽/美妆</a></li>
      <li><a href="">电器电脑数码</a></li>
      <li><a href="">宠物用品/寄样</a></li>
      <li><a href="">二手书/文具</a></li>
      <li><a href="">票务/折扣礼品卡</a></li>
      <li><a href="">母婴/儿童用品</a></li>
      <li><a href="">求购免费</a></li>
      <li><a href="">虚拟物品</a></li>
      <li><a href="">其他(含烟酒)</a></li>
      <li><a href="">食品</a></li>
    </ul>
  </li>
  <li class="top-category"><p class="top-name">房屋信息</p>
    <ul>
      <li><a href="">寻找合租</a></li>
      <li><a href="">出租转让</a></li>
      <li><a href="">短期租房</a></li>
      <li><a href="">车位仓库</a></li>
      <li><a href="">房产转让</a></li>
    </ul>
  </li>
  <li class="top-category"><p class="top-name">寻求服务</p>
    <ul>
      <li><a href="">拼车Carpool</a></li>
      <li><a href="">回国带物</a></li>
      <li><a href="">结伴出游</a></li>
      <li><a href="">外币兑换</a></li>
      <li><a href="">搬运求助</a></li>
      <li><a href="">失物招领</a></li>
      <li><a href="">律师咨询</a></li>
      <li><a href="">代购邮寄</a></li>
      <li><a href="">路考汽训</a></li>
      <li><a href="">学习辅导/tutor</a></li>
      <li><a href="">幼儿家教</a></li>
    </ul>
  </li>
  <li class="top-category"><p class="top-name">求职招聘</p>
    <ul>
      <li><a href="">餐饮行业</a></li>
      <li><a href="">清洁家政</a></li>
      <li><a href="">美容护理</a></li>
      <li><a href="">教育培训</a></li>
      <li><a href="">文章修改</a></li>
      <li><a href="">保姆看护</a></li>
      <li><a href="">旅游零售</a></li>
      <li><a href="">求职</a></li>
      <li><a href="">电脑编程/数据管理</a></li>
    </ul>
  </li>
</ul>
