<header>
  <div class="header-box">
    <img class="logo-buf" src="assets/image/logo-buf.png" />
    <input class="search-box"type="text" name="search" placeholder="搜索...">
    <img class="search-but" src="assets/image/search.png" />
    <img class="logo" src="assets/image/logo-w.png" />
    <div class="toggle"></div>
    <nav>
      <a class="rightBut" href=""><img src="assets/image/plus-sign.png"/><p>发布</p></a>
      <a class="rightBut" href=""><img src="assets/image/sign-in.png"/><p>登录</p></a>
      <a class="rightBut" href=""><img src="assets/image/forum.png"/><p>论坛</p></a>
    </nav>
  </div>
</header>
