<header>
  <div class="header-box">
    <a class="back-to-index" href="/">
      <img src="/assets/image/back-icon.png" />
      <p>返回</p>
    </a>
    <% include header-right.ejs %>
  </div>
</header>
