<header>
  <div class="header-box">
    <a href="/"><img class="logo-buf" src="/assets/image/logo-buf.png" /></a>
    <input class="search-box"type="text" name="search" placeholder="搜索...">
    <img class="search-but" src="/assets/image/search.png" />
    <% include header-right.ejs %>
  </div>
</header>
