<section class="left">
  <!-- left section 1 -->
	<div class="sideBox">
  	<ul class="sideList">
  		<li>布法罗城市简介</li>
  		<li><a href="https://zh.wikipedia.org/wiki/%E6%B0%B4%E7%89%9B%E5%9F%8E" target="_blank" title="城市概述">布法罗 城市概述</a></li>
  		<li><a href="https://www.yahoo.com/news/weather/united-states/new-york/buffalo-2371464/" target="_blank" title="当地天气">布法罗 当地天气</a></li>
  		<li><a href="https://www.google.com/maps/place/%E7%BA%BD%E7%BA%A6%E5%B7%9E%E5%B8%83%E6%B3%95%E7%BD%97/@42.8963434,-78.9247416,12z/data=!3m1!4b1!4m5!3m4!1s0x89d3126152dfe5a1:0x982304a5181f8171!8m2!3d42.8864468!4d-78.8783689" target="_blank" title="最佳去处">布法罗 城市地图</a></li>
  		<li><a href="http://www.wkbw.com/traffic" target="_blank" title="交通信息">布法罗 交通信息</a></li>
  		<li><a href="https://cn.tripadvisor.com/Restaurants-g60974-Buffalo_New_York.html" target="_blank" title="餐饮美食">布法罗 餐饮美食</a></li>
  		<li><a href="http://www.bestofwny.com/entertainment/" target="_blank" title="娱乐活动">布法罗 娱乐活动</a></li>
  		<li><a href="http://www.planetware.com/tourist-attractions-/buffalo-us-ny-buf.htm" target="_blank" title="旅游景点">布法罗 旅游景点</a></li>
  		<li><a href="http://www.visitbuffaloniagara.com/business-type/malls/" target="_blank" title="购物场所">布法罗 购物场所</a></li>
  		<li><a href="http://bbs.bufdays.com/forum.php" target="_blank" title="更多">更多</a></li>
  	</ul>
	</div>
	<!-- left section 2 -->
	<div class="sideBox">
  	<ul class="sideList">
  		<li>布法罗本地服务</li>
  		<li><a href="http://metro.nfta.com/Routes/" target="_blank" title="公共交通">布法罗 公共交通</a></li>
  		<li><a href="http://bbs.bufdays.com/portal.php?mod=view&amp;aid=10" target="_blank" title="华人超市">布法罗 华人超市</a></li>
  		<li><a href="https://www.buffalolib.org/" target="_blank" title="公共图书馆">布法罗 公共图书馆</a></li>
  		<li><a href="https://www.ci.buffalo.ny.us/home/leadership/mayor/holiday_schedule" target="_blank" title="公共节假日">布法罗 公共节假日</a></li>
  		<li><a href="http://www.bpdny.org/" target="_blank" title="警察局">布法罗 警察局</a></li>
  		<li><a href="https://www.usps.com/" target="_blank" title="邮政局">布法罗 邮政局</a></li>
  		<li><a href="https://www.nationalgridus.com/Upstate-NY-Home/Default" target="_blank" title="电气公司">布法罗 电气公司</a></li>
  		<li><a href="http://bbs.bufdays.com/portal.php?mod=list&amp;catid=8" target="_blank"><font color="red"><b>UB 新生手册</b></font></a></li>
  		<li><a href="http://bbs.bufdays.com/forum.php" target="_blank">更多</a></li>
  	</ul>
	</div>
	<!-- left section 3 -->
	<div class="sideBox">
  	<ul class="sideList">
  		<li>常用链接</li>
  		<li><a href="http://www.buffalo.edu/" target="_blank">SUNY-UB</a></li>
  		<li><a href="http://www.buffalo.edu/ubit.html" target="_blank">SUNY-UBIT</a></li>
  		<li><a href="https://ubisss.buffalo.edu/istart/controllers/start/start.cfm" target="_blank">SUNY-UB My ISSS</a></li>
  		<li><a href="http://library.buffalo.edu/" target="_blank">SUNY-UB Library</a></li>
  		<li><a href="https://www.buffalo.edu/career/BullsEye.html" target="_blank">SUNY-UB BullsEye</a></li>
  		<li><a href="SUNY-UB BullsEye" target="_blank">SUNY-BSC</a></li>
  		<li><a href="http://www.ehwcc.org/" target="_blank">水牛城衛斯理華人教會</a></li>
  		<li><a href="http://www.buffalochinesechurch.org/home-chinese.php" target="_blank" title="中文學生學者家庭團契">水牛城华人基督教会(BCCC)</a></li>
  		<li><a href="http://www.kbb.com/" target="_blank">二手汽车价格查询</a></li>
  		<li><a href="https://finance.yahoo.com/currency-converter/#from=USD;to=EUR;amt=1" target="_blank">货币汇率换算</a></li>
  	</ul>
	</div>
</section>
