<section class="main-section">

  <%- include category.ejs %>
  <%- include news.ejs %>
  <div class="feed">
    <p class="feed-header">信息推送</p>
    <% for(var i = feedCells.length-1; i >= 0; i--){ %>
      <a href="" class="feed-cell">
        <img src="/assets/image/no-pic.jpg"/>
        <p class="date">23:15 03/26/17</p>
        <p class="title"><%= feedCells[i].title %></p>
        <p class="content"><%= feedCells[i].content %></p>
      </a>
    <% } %>
  </div>
  <p>正在加载更多...</p>
</section>
