<section class="main-section">

  <%- include category.ejs %>

  <div class="feed">
    <p class="feed-header">信息推送</p>
    <a href="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">23:15 03/26/17</p>
      <p class="title">转租北校附近london towne </p>
      <p class="content">二楼2b1b整套，客厅很大也可以住人，小区留学生多，治安环境非常好。六月左右可入住，具体日期可协商。可以去office转lease。lease租期至18年6月30日。</p>
    </a>
    <a href="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">21:58 03/26/17</p>
      <p class="title">求三月28号晚上9:30从buffalo机场到学校的carpool</p>
      <p class="content">3月28号晚上9:30 从buffalo机场到北校，谢谢！</p>
    </a>
    <a href="" target="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">20:47 03/26/17</p>
      <p class="title">誠請厨师</p>
      <p class="content">位于北校附近,白人区,有意高薪聘请厨师,请联系6462042480。</p>
    </a>
    <a href="" target="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">19:27 03/26/17</p>
      <p class="title">卖车，2013年 Nissan Altima</p>
      <p class="content">如题，2013年 Nissan Altima，定位纽约州水牛城，48000迈，2015.9月入手，个人只开了一万迈，十分爱惜车，洗车都去handwash，平均每两到三个月做一次保养</p>
    </a>
    <a href="" target="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">16:51 03/26/17</p>
      <p class="title">结伴去gun range</p>
      <p class="content"> 需要至少有一名21岁及以上人士，路费平摊，联系我时说在天天布法罗上看到的</p>
    </a>
    <a href="" target="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">12:42 03/26/17</p>
      <p class="title">求租一个南校附近的车库或者小仓库5-8月底  </p>
      <p class="content"> 暑假要回国，但是东西不想来回搬觉得太麻烦，想在暑假期间租一个车库或小仓库，不需要很大。  可以放一些收纳箱就可以。 需要租3个月左右   有意者请联系我，谢谢。</p>
    </a>
    <a href="" target="" class="feed-cell">
      <img src="/assets/image/no-pic.jpg"/>
      <p class="date">10:34 03/26/17</p>
      <p class="title">卖家具及生活用品</p>
      <p class="content">卖电吹风一个8刀，餐桌一张20刀，电风扇两个10刀,1米2的床垫两个25刀，沙发一个20刀，吸尘器一个18刀，衣柜一个20刀，抽屉桌一个15刀（放衣服，书都可以），</p>
    </a>
  </div>
  <p>正在加载更多...</p>
</section>
