<section class="right">
  <!-- right section 1 -->
  <div class="sideBox">
  	<ul class="sideList">
  		<li>商家服务</li>
  		<li>美食外卖/超市零售</li>
  		<li>物流快递/报关/仓储</li>
  		<li>瑜伽/健身/运动培训</li>
  		<li>医疗诊所/中医/牙医</li>
  		<li>公寓套房/别墅</li>
  		<li>辅导/家教/育儿</li>
  		<li>保险/网络/银行</li>
  		<li>装修/维修/铲草除雪</li>
  		<li>会计报税/退税</li>
  		<li>机票旅游</li>
  		<li>汽车改装/保养/拖车</li>
  		<li>休闲娱乐</li>
  		<li>留学考试</li>
  		<li>车行/租车/运车</li>
  		<li>驾照教练/练车/路试</li>
  		<li>留学/移民/签证</li>
  		<li>按摩/美甲/美容美发</li>
  		<li>保姆家政</li>
  	</ul>
  </div>
  <!-- right section 2 -->
  <div class="sideBox">
  	<ul class="sideList">
  		<li>常用订餐/外卖</li>
  		<li><a href="http://bbs.bufdays.com/portal.php?mod=view&amp;aid=21" target="_blank">Taste of China<br>(716)833-6668</a></li>
  		<li>Crystal Asian Cuisine<br>水晶轩 (716)836-0826</li>
  		<li>Gin Gin Restaurant<br>曾珍 (716)836-26000</li>
  		<li>Miss Hot Café<br>红火火 (716)832-3188</li>
  		<li>Peking Quick One<br>北京 (716)381-8730</li>
  		<li>Mandarin Garden<br>(716)837-8888</li>
  		<li>China Star<br>(716)631-7199</li>
  		<li>Home Taste<br>家之味 (716)322-0088</li>
  		<li><a href="http://bbs.bufdays.com/portal.php?mod=view&amp;aid=11" target="_blank">更多</a></li>
  	</ul>
  </div>
</section>
