<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <%- include indexSubViews/header-subpage.ejs %>
    <div class="container">
      <div class="success-box">
        <p>发布成功!</p>
        <a href="">查看信息</a>
        <a href="/">返回主页</a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/js/fuc.js"></script>
  </body>
</html>
