<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <%- include indexSubViews/header.ejs %>
    <div class="container">
      <form class="post-form" method="post">
        <label><p>标题</p><input name="title" type="text" placeholder="请输入标题"/></label>
        <label><p>内容</p><textarea name="content" placeholder="请输入内容"></textarea></label>
        <input name="submit" type="submit" value="发布" />
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/js/fuc.js"></script>
  </body>
</html>
