/* line 1, ../sass/_base.sass */
body {
  margin: 0;
  background-color: #e9ebee;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 11, ../sass/_base.sass */
a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}
/* line 15, ../sass/_base.sass */
a:visited {
  color: inherit;
}

/* line 18, ../sass/_base.sass */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 22, ../sass/_base.sass */
img {
  width: 100%;
}

/* line 6, ../sass/mysass/_header.sass */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  padding: 5px;
  background-color: #026AA7;
  color: white;
}
/* line 12, ../sass/mysass/_header.sass */
header .header-box {
  max-width: 960px;
  margin: 0 auto;
}
/* line 15, ../sass/mysass/_header.sass */
header .header-box .logo-buf {
  width: 28px;
  height: 28px;
  float: left;
  padding: 1px 10px 1px 5px;
}
/* line 19, ../sass/mysass/_header.sass */
header .header-box .search-box {
  width: 130px;
  height: 28px;
  background-color: #4d97c1;
  border-radius: 5px;
  border: none;
  float: left;
  padding: 1px 5px;
  transition: width 0.2s ease-in-out;
}
/* line 25, ../sass/mysass/_header.sass */
header .header-box .search-box:focus {
  background: white;
  width: 185px;
}
/* line 28, ../sass/mysass/_header.sass */
header .header-box .search-but {
  width: 20px;
  height: 20px;
  float: left;
  padding: 5px 0 5px 10px;
}
/* line 32, ../sass/mysass/_header.sass */
header .header-box .logo {
  width: auto;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 35, ../sass/mysass/_header.sass */
header .header-box .rightBut {
  width: auto;
  height: 30px;
  background-color: #4d97c1;
  border-radius: 5px;
  border: none;
  float: right;
  margin-left: 10px;
}
/* line 40, ../sass/mysass/_header.sass */
header .header-box .rightBut:hover {
  background-color: #62a2c8;
}
/* line 42, ../sass/mysass/_header.sass */
header .header-box .rightBut img {
  float: left;
  width: 14px;
  height: 14px;
  padding: 8px;
}
/* line 46, ../sass/mysass/_header.sass */
header .header-box .rightBut p {
  float: left;
  padding: 0 8px 0 0;
  text-align: center;
  margin: 0;
  line-height: 30px;
}

/* line 53, ../sass/mysass/_header.sass */
.container {
  max-width: 960px;
  margin: 50px auto auto auto;
}

/* line 1, ../sass/mysass/_side.sass */
.sideBox {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  text-align: center;
}
/* line 7, ../sass/mysass/_side.sass */
.sideBox ul {
  margin: 0;
}
/* line 9, ../sass/mysass/_side.sass */
.sideBox ul li {
  box-shadow: 0px 1px 0px 0px #e9ebee;
  padding: 4px 0;
  margin: 0 5px;
}
/* line 13, ../sass/mysass/_side.sass */
.sideBox ul li:first-child {
  margin: 0;
  padding: 8px 0;
  background-color: #f6f7f9;
}
/* line 17, ../sass/mysass/_side.sass */
.sideBox ul li:last-child {
  box-shadow: none;
}

/* line 21, ../sass/mysass/_side.sass */
.left {
  float: left;
  width: 190px;
}

/* line 24, ../sass/mysass/_side.sass */
.right {
  float: right;
  width: 220px;
}

/* line 1, ../sass/mysass/_main.sass */
.main-section {
  background-color: skyblue;
  margin: 0 230px auto 200px;
  height: 800px;
}
