/* line 1, ../sass/_base.sass */
body {
  margin: 0;
  background-color: #e9ebee;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* line 11, ../sass/_base.sass */
a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}
/* line 16, ../sass/_base.sass */
a:visited {
  color: inherit;
}

/* line 19, ../sass/_base.sass */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 23, ../sass/_base.sass */
img {
  width: 100%;
}

/* line 6, ../sass/mysass/_header.sass */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 30px;
  padding: 5px;
  background-color: #026AA7;
  color: white;
}
/* line 13, ../sass/mysass/_header.sass */
header .header-box {
  max-width: 960px;
  margin: 0 auto;
}
/* line 16, ../sass/mysass/_header.sass */
header .header-box .logo-buf {
  width: 28px;
  height: 28px;
  float: left;
  padding: 1px 10px 1px 5px;
}
/* line 20, ../sass/mysass/_header.sass */
header .header-box .search-box {
  width: 130px;
  height: 28px;
  background-color: #4d97c1;
  border-radius: 5px;
  border: none;
  float: left;
  padding: 1px 5px;
  transition: width 0.2s ease-in-out;
}
/* line 26, ../sass/mysass/_header.sass */
header .header-box .search-box::-webkit-input-placeholder {
  color: white;
}
/* line 28, ../sass/mysass/_header.sass */
header .header-box .search-box:hover {
  background-color: #62a2c8;
}
/* line 30, ../sass/mysass/_header.sass */
header .header-box .search-box:focus {
  background: white;
  width: 185px;
}
/* line 33, ../sass/mysass/_header.sass */
header .header-box .search-but {
  width: 18px;
  height: 18px;
  float: left;
  padding: 6px 0 6px 10px;
}
/* line 37, ../sass/mysass/_header.sass */
header .header-box .logo {
  width: auto;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 40, ../sass/mysass/_header.sass */
header .header-box .toggle {
  height: 0;
}
/* line 42, ../sass/mysass/_header.sass */
header .header-box nav {
  float: right;
}
/* line 44, ../sass/mysass/_header.sass */
header .header-box nav .rightBut {
  width: auto;
  height: 30px;
  background-color: #4d97c1;
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin-left: 10px;
}
/* line 49, ../sass/mysass/_header.sass */
header .header-box nav .rightBut:hover {
  background-color: #62a2c8;
}
/* line 51, ../sass/mysass/_header.sass */
header .header-box nav .rightBut img {
  float: left;
  width: 14px;
  height: 14px;
  padding: 8px;
}
/* line 55, ../sass/mysass/_header.sass */
header .header-box nav .rightBut p {
  float: left;
  padding: 0 8px 0 0;
  text-align: center;
  margin: 0;
  line-height: 30px;
}

/* line 61, ../sass/mysass/_header.sass */
.back-to-index {
  float: left;
}
/* line 63, ../sass/mysass/_header.sass */
.back-to-index:hover {
  color: #62a2c8;
}
/* line 65, ../sass/mysass/_header.sass */
.back-to-index img {
  float: left;
  width: auto;
  height: 14px;
  padding: 8px 0;
}
/* line 69, ../sass/mysass/_header.sass */
.back-to-index p {
  float: left;
  padding: 0 0 0 8px;
  text-align: center;
  margin: 0;
  line-height: 30px;
}

/* line 75, ../sass/mysass/_header.sass */
.container {
  max-width: 960px;
  margin: 50px auto 0 auto;
}

/* line 1, ../sass/mysass/news.sass */
.news {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  margin-bottom: 10px;
  background: pink;
  background: url(/assets/image/news-ex.jpg);
  background-position: center center;
  background-size: cover;
}

/* line 1, ../sass/mysass/_side.sass */
.sideBox {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  text-align: center;
}
/* line 5, ../sass/mysass/_side.sass */
.sideBox ul {
  margin: 0;
}
/* line 7, ../sass/mysass/_side.sass */
.sideBox ul li {
  box-shadow: 0px 1px 0px 0px #e9ebee;
  padding: 4px 0;
  margin: 0 5px;
}
/* line 11, ../sass/mysass/_side.sass */
.sideBox ul li:hover {
  background-color: #e9ebee;
}
/* line 13, ../sass/mysass/_side.sass */
.sideBox ul li:last-child {
  box-shadow: none;
}
/* line 15, ../sass/mysass/_side.sass */
.sideBox ul li:first-child {
  margin: 0;
  padding: 8px 0;
  background-color: #f6f7f9;
}
/* line 19, ../sass/mysass/_side.sass */
.sideBox ul li:first-child:hover {
  background-color: #f6f7f9;
}

/* line 22, ../sass/mysass/_side.sass */
.left {
  float: left;
  width: 160px;
}
/* line 25, ../sass/mysass/_side.sass */
.left .site-info {
  color: darkgrey;
  text-align: center;
  font-size: 85%;
  font-weight: 300;
}
/* line 30, ../sass/mysass/_side.sass */
.left .site-info a:hover {
  color: black;
  font-weight: normal;
}

/* line 33, ../sass/mysass/_side.sass */
.right {
  float: right;
  width: 180px;
}

/* line 1, ../sass/mysass/_main.sass */
.main-section {
  margin: 0 190px auto 170px;
}
/* line 3, ../sass/mysass/_main.sass */
.main-section .top-category {
  margin-bottom: 10px;
}
/* line 5, ../sass/mysass/_main.sass */
.main-section .top-category .top-name {
  margin: 0;
  padding: 8px;
}
/* line 8, ../sass/mysass/_main.sass */
.main-section .top-category ul li {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  display: inline-block;
  margin: 5px 0 5px 5px;
  padding: 3px 7.5px;
}
/* line 13, ../sass/mysass/_main.sass */
.main-section .top-category ul li:hover {
  background-color: #e9ebee;
}

/* line 17, ../sass/mysass/_main.sass */
.feed {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
}
/* line 19, ../sass/mysass/_main.sass */
.feed .feed-header {
  margin: 0;
  padding: 5px;
  font-size: 110%;
  box-shadow: 0px 1px 0px 0px #e9ebee;
}
/* line 24, ../sass/mysass/_main.sass */
.feed .feed-cell {
  display: block;
  position: relative;
  height: 80px;
  padding: 5px 0;
  margin: 0 5px;
  box-shadow: 0px 1px 0px 0px #e9ebee;
}
/* line 31, ../sass/mysass/_main.sass */
.feed .feed-cell:hover {
  background-color: #e9ebee;
}
/* line 33, ../sass/mysass/_main.sass */
.feed .feed-cell:last-child {
  box-shadow: none;
}
/* line 35, ../sass/mysass/_main.sass */
.feed .feed-cell img {
  width: 80px;
  height: 80px;
  float: left;
}
/* line 38, ../sass/mysass/_main.sass */
.feed .feed-cell .date {
  position: absolute;
  top: 10px;
  right: 5px;
  margin: 0;
  font-weight: 300;
  font-size: 90%;
}
/* line 43, ../sass/mysass/_main.sass */
.feed .feed-cell .title {
  color: black;
  margin: 5px 100px 8px 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 49, ../sass/mysass/_main.sass */
.feed .feed-cell .content {
  margin: 8px 10px 5px 90px;
  font-size: 90%;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
  /* line 3, ../sass/mysass/_mobile.sass */
  .menu-open {
    right: 150px;
  }
  /* line 6, ../sass/mysass/_mobile.sass */
  .menu-open header .header-box .logo {
    display: none;
  }
  /* line 8, ../sass/mysass/_mobile.sass */
  .menu-open header .header-box nav {
    right: 0;
  }

  /* line 10, ../sass/mysass/_mobile.sass */
  body {
    overflow-x: hidden;
    position: relative;
    right: 0;
    transition: right 0.33s ease;
  }
  /* line 15, ../sass/mysass/_mobile.sass */
  body header {
    transition: right 0.33s ease;
  }
  /* line 18, ../sass/mysass/_mobile.sass */
  body header .header-box .toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    background: url("/assets/image/nav-icon.png") center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* line 22, ../sass/mysass/_mobile.sass */
  body header .header-box .logo-buf {
    display: none;
  }
  /* line 24, ../sass/mysass/_mobile.sass */
  body header .header-box .search-box {
    display: none;
  }
  /* line 26, ../sass/mysass/_mobile.sass */
  body header .header-box nav {
    margin: 0;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -150px;
    background: #333;
    transition: right 0.33s ease;
  }
  /* line 32, ../sass/mysass/_mobile.sass */
  body header .header-box nav .rightBut {
    display: block;
    width: 130px;
    margin: 10px;
    text-align: center;
    position: relative;
  }
  /* line 38, ../sass/mysass/_mobile.sass */
  body header .header-box nav .rightBut p {
    float: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* line 44, ../sass/mysass/_mobile.sass */
  .left, .right {
    display: none;
  }

  /* line 46, ../sass/mysass/_mobile.sass */
  .main-section {
    margin: 0 5px;
  }
}
/* line 1, ../sass/mysass/_post.sass */
.post-form, .success-box {
  background-color: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  max-width: 414px;
  background-color: white;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-size: 16px;
}
@media screen and (max-width: 414px) {
  /* line 1, ../sass/mysass/_post.sass */
  .post-form, .success-box {
    margin: 0 10px;
  }
}

/* line 14, ../sass/mysass/_post.sass */
.post-form label {
  display: block;
  margin: 10px 0;
}
/* line 17, ../sass/mysass/_post.sass */
.post-form label p {
  margin: 0 0 10px 0;
}
/* line 19, ../sass/mysass/_post.sass */
.post-form input[type="text"], .post-form textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
/* line 27, ../sass/mysass/_post.sass */
.post-form input[type="text"] {
  height: 20px;
}
/* line 29, ../sass/mysass/_post.sass */
.post-form textarea {
  height: 200px;
}
/* line 31, ../sass/mysass/_post.sass */
.post-form input[type="submit"] {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  transition: all 0.3 ease;
  cursor: pointer;
}
/* line 41, ../sass/mysass/_post.sass */
.post-form input[type="submit"]:hover {
  background: #43A047;
}

/* line 44, ../sass/mysass/_post.sass */
.success-box p {
  font-size: 20px;
}
/* line 46, ../sass/mysass/_post.sass */
.success-box a {
  color: #0074D9;
  display: block;
  margin: 14px;
}
/* line 50, ../sass/mysass/_post.sass */
.success-box a:hover {
  transform: scale(1.15);
}
